
@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!-- Page Content -->
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="welcome-box">
                <div class="welcome-img">
                    <img alt="" src="~/img/user.jpg">
                </div>
                <div class="welcome-det">
                    <h3>Welcome, Rufai Fatai</h3>
                    <p>Monday, 20 May 2020</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <section class="dash-section">
                <h1 class="dash-sec-title">This Month</h1>
                <div class="dash-sec-content">
                    <div class="dash-info-list">
                        <a href="#" class="dash-card text-danger">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="fa fa-hourglass-o"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>Biodun Busari is off paternity leave today</p>
                                </div>
                                <div class="dash-card-avatars">
                                    <div class="e-avatar"><img src="~/img/user.jpg" alt=""></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="dash-info-list">
                        <a href="#" class="dash-card">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="fa fa-suitcase"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>You are away today</p>
                                </div>
                                <div class="dash-card-avatars">
                                    <div class="e-avatar"><img src="~/img/user.jpg" alt=""></div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="dash-info-list">
                        <a href="#" class="dash-card">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="fa fa-building-o"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>You are working from home today</p>
                                </div>
                                <div class="dash-card-avatars">
                                    <div class="e-avatar"><img src="~/img/user.jpg" alt=""></div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </section>

            <section class="dash-section">
                <h1 class="dash-sec-title">Last Month</h1>
                <div class="dash-sec-content">
                    <div class="dash-info-list">
                        <div class="dash-card">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="fa fa-suitcase"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>2 people will be away tomorrow</p>
                                </div>
                                <div class="dash-card-avatars">
                                    <a href="#" class="e-avatar"><img src="~/img/user.jpg" alt=""></a>
                                    <a href="#" class="e-avatar"><img src="~/img/user.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dash-info-list">
                        <div class="dash-card">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="fa fa-suitcase"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>2 people will be away tomorrow</p>
                                </div>
                                <div class="dash-card-avatars">
                                    <a href="#" class="e-avatar"><img src="~/img/user.jpg" alt=""></a>
                                    <a href="#" class="e-avatar"><img src="~/img/user.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dash-info-list">
                        <div class="dash-card">
                            <div class="dash-card-container">
                                <div class="dash-card-icon">
                                    <i class="fa fa-suitcase"></i>
                                </div>
                                <div class="dash-card-content">
                                    <p>2 people will be away tomorrow</p>
                                </div>
                                <div class="dash-card-avatars">
                                    <a href="#" class="e-avatar"><img src="~/img/user.jpg" alt=""></a>
                                    <a href="#" class="e-avatar"><img src="~/img/user.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="dash-sidebar">
                <section>
                    <h5 class="dash-title">My Payroll</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="time-list">
                                <div class="dash-stats-list">
                                    <h4>#701,000</h4>
                                    <p>This Month</p>
                                </div>
                                <div class="dash-stats-list">
                                    <h4>#600,000</h4>
                                    <p>Last Month</p>
                                </div>
                            </div>
                            <div class="request-btn">
                                <a class="btn btn-primary" href="#">Payroll History</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <h5 class="dash-title">My Annual Leave</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="time-list">
                                <div class="dash-stats-list">
                                    <h4>20</h4>
                                    <p>Eligible Day(s)</p>
                                </div>
                                <div class="dash-stats-list">
                                    <h4>12</h4>
                                    <p>Remaining Days</p>
                                </div>
                            </div>
                            <div class="request-btn">
                                <a class="btn btn-primary" href="#">Apply Leave</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <h5 class="dash-title">My Loan</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="time-list">
                                <div class="dash-stats-list">
                                    <h4>#3,000,000</h4>
                                    <p>Loan Limit</p>
                                </div>
                                <div class="dash-stats-list">
                                    <h4>#315,000</h4>
                                    <p>Loan Taken</p>
                                </div>
                            </div>
                            <div class="request-btn">
                                <a class="btn btn-primary" href="#">Loan History</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->
