
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_FrontPageLayout.cshtml";
    var returnUrl = @Context.Request.Query["returnUrl"];
}

<div class="account-content">
    <div class="container">

        <!-- Account Logo -->
        <div class="account-logo">
            <a href="index.html"><h1>EMPLOYEE SELF SERVICE</h1></a>
        </div>
        <!-- /Account Logo -->

        <div class="account-box">
            <div class="account-wrapper">
                <h3 class="account-title">Login</h3>
                <p class="account-subtitle">Access your employee dashboard</p>

                <!-- Account Form -->
                <form action="index.html">
                    <div class="form-group">
                        <label>Employee ID</label>
                        <input class="form-control" type="text" id="email">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>Password</label>
                            </div>
                            <div class="col-auto">
                                <a class="text-muted" asp-area="" asp-controller="Home" asp-action="ForgotPassword">
                                    Forgot password?
                                </a>
                            </div>
                        </div>
                        <input class="form-control" type="password" id="password">
                    </div>
                    <div class="form-group text-center" onclick="SubmitLoginDetail()">
                        <div class="btn btn-primary account-btn" type="submit">Login</div>
                    </div>
                </form>
                <!-- /Account Form -->

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        var email = "";
        var password = "";
        var redirectUrl = '@Url.Action("Employee","Dashboard")';

        function SubmitLoginDetail()
        {
            email = $("#email").val();
            password = $("#password").val();

            sendForm(email, password);
        }

        function sendForm(email, password) {
            $.ajax({
                url: '@Url.Action("Signin", "Home")',
                type: 'POST',
                dataType: 'json',
                data: { email: email, password: password },
                success: function (response) {
                    if (response.status) {     
                        //toastr.success(response?.message);
                        window.location.href = redirectUrl;
                    }
                    else {
                        toastr.error(response ?.message);
                    }

                    return;
                }, error: function () {
                    alerty("danger", "Opps", "request Failed");
                }
            });
        }

    </script>
}